* {
  font-family: "Raleway", sans-ser;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize; /* cambiamos la primera letra de la palabra */
  overflow: hidden;
  scroll-behavior: smooth;
}

.header {
  position: fixed; /* Fijamos el header para que no baje con el scroll */
  top: 0;
  left: 0;
  right: 0;
  /* background-color: rgb(38, 170, 38); */
  height: 65px;
  z-index: 100;
}

.header .nav-bar {
  display: flex;
}

.header .nav-bar a {
  flex: 1;
  text-align: center;
  font-size: 22px;
  line-height: 65px;
  color: white;
}

.header .nav-bar a:hover {
  filter: brightness(0.8);
}

.header .nav-bar a:nth-child(1) {
  background: red;
}

.header .nav-bar a:nth-child(2) {
  background: green;
}

.header .nav-bar a:nth-child(3) {
  background: purple;
}

.header .nav-bar a:nth-child(4) {
  background: orange;
}

.header .nav-bar a:nth-child(5) {
  background: blue;
}

/* Container */

.container {
  display: flex;
  width: 500%;
  height: 100vh;
}

.container .main-section {
  display: flex;
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 8vw;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: azure;
}

.container .main-section:nth-child(1) {
  background: red;
}

.container .main-section:nth-child(2) {
  background: green;
}

.container .main-section:nth-child(3) {
  background: purple;
}

.container .main-section:nth-child(4) {
  background: orange;
}

.container .main-section:nth-child(5) {
  background: blue;
}